# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [350]:
# Import your libraries:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


%matplotlib inline


import sklearn

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_diabetes.html)).

In [351]:
# Your code here:

from sklearn.datasets import load_diabetes

Let's explore this variable by looking at the different attributes (keys) of `diabetes`. Note that the `load_diabetes` function does not return dataframes. It returns you a Python dictionary.

In [352]:
# Your code here:

data = load_diabetes(as_frame=True)

#### The next step is to read the description of the dataset. 

Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable. Read the data description carefully to fully understand what each column represents.

*Hint: If your output is ill-formatted by displaying linebreaks as `\n`, it means you are not using the `print` function.*

In [353]:
# Your code here:
diabetes.DESCR

'.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - age     age in years\n      - sex\n      - bmi     body mass index\n      - bp      average blood pressure\n      - s1      tc, total serum cholesterol\n      - s2      ldl, low-density lipoproteins\n      - s3      hdl, high-density lipoproteins\n      - s4      tch, total cholesterol / HDL\n      - s5      ltg, possibly log of serum triglycerides level\n      - s6      glu, blood sugar level\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)'

#### Based on the data description, answer the following questions:

1. How many attributes are there in the data? What do they mean?

1. What is the relation between `diabetes['data']` and `diabetes['target']`?

1. How many records are there in the data?

In [354]:
# Enter your answer here:
#Ten baseline variables, age, sex, body mass index, average blood\npressure, 
#and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.

In [355]:
#diabetes['data'] are the features or predictors
#diabetes['target'] is the dependent variable or target

In [356]:
#There are 442 records in this dataset

#### Now explore what are contained in the *data* portion as well as the *target* portion of `diabetes`. 

Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). Inspect the shape of `data` and `target`. Confirm they are consistent with the data description.

In [357]:
# Your code here:

diabetes['data'].shape

(442, 10)

In [358]:
diabetes['target'].shape

(442,)

# Challenge 2 - Perform Supervised Learning on the Dataset

The data have already been split to predictor (*data*) and response (*target*) variables. Given this information, we'll apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset.

#### Let's briefly revisit the linear regression formula:

```
y = β0 + β1X1 + β2X2 + ... + βnXn + ϵ
```

...where:

- X1-Xn: data 
- β0: intercept 
- β1-βn: coefficients 
- ϵ: error (cannot explained by model)
- y: target

Also take a look at the `sklearn.linear_model.LinearRegression` [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).

#### In the cell below, import the `linear_model` class from `sklearn`.

In [359]:
# Your code here:

from sklearn.linear_model import LinearRegression

#### Create a new instance of the linear regression model and assign the new instance to the variable `diabetes_model`.

In [360]:
# Your code here:

from sklearn.linear_model import LinearRegression
diabetes_model = LinearRegression()

In [361]:
diabetesX = pd.DataFrame(diabetes['data'])

In [362]:
diabetesX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       442 non-null    float64
 1   1       442 non-null    float64
 2   2       442 non-null    float64
 3   3       442 non-null    float64
 4   4       442 non-null    float64
 5   5       442 non-null    float64
 6   6       442 non-null    float64
 7   7       442 non-null    float64
 8   8       442 non-null    float64
 9   9       442 non-null    float64
dtypes: float64(10)
memory usage: 34.7 KB

In [363]:
diabetesX.head()

,0,1,2,3,4,5,6,7,8,9
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [364]:
diabetesY = pd.DataFrame(diabetes['target'])

In [365]:
diabetesY.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       442 non-null    float64
dtypes: float64(1)
memory usage: 3.6 KB

#### Next, let's split the training and test data.

Define `diabetes_data_train`, `diabetes_target_train`, `diabetes_data_test`, and `diabetes_target_test`. Use the last 20 records for the test data and the rest for the training data.

In [366]:
# Your code here:

from sklearn.model_selection import train_test_split

# Your code here:

x = diabetesX
y = diabetesY
# print(x.head())
print(x.shape)
# print(y.head())
print(y.shape)


diabetes_data_train, diabetes_data_test, diabetes_target_train, diabetes_target_test = train_test_split(x, y, test_size=0.2, random_state=42)
print(diabetes_data_train.shape)
print(diabetes_target_train.shape)
print(diabetes_data_test.shape)
print(diabetes_target_test.shape)

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)

(442, 10)
(442, 1)
(353, 10)
(353, 1)
(89, 10)
(89, 1)

Fit the training data and target to `diabetes_model`. Print the *intercept* and *coefficients* of the model.

In [367]:
# Your code here:

diabetes_model.fit(diabetes_data_train, diabetes_target_train)
print(diabetes_model.intercept_)
print(diabetes_model.coef_)

[151.34565535]
[[  37.90031426 -241.96624835  542.42575342  347.70830529 -931.46126093
   518.04405547  163.40353476  275.31003837  736.18909839   48.67112488]]

#### Inspecting the results

From the outputs you should have seen:

- The intercept is a float number.
- The coefficients are an array containing 10 float numbers.

This is the linear regression model fitted to your training dataset.

#### Using your fitted linear regression model, predict the *y* of `diabetes_data_test`.

In [368]:
# Your code here:

y_pred = diabetes_model.predict(diabetes_data_test)
y_pred

array([[139.5483133 ],
       [179.52030578],
       [134.04133298],
       [291.41193598],
       [123.78723656],
       [ 92.17357677],
       [258.23409704],
       [181.33895238],
       [ 90.22217862],
       [108.63143298],
       [ 94.13938654],
       [168.43379636],
       [ 53.50669663],
       [206.63040068],
       [100.13238561],
       [130.66881649],
       [219.53270758],
       [250.78291772],
       [196.36682356],
       [218.57497401],
       [207.35002447],
       [ 88.48361667],
       [ 70.43428801],
       [188.95725301],
       [154.88720039],
       [159.35957695],
       [188.31587948],
       [180.38835506],
       [ 47.98988446],
       [108.97514644],
       [174.78080029],
       [ 86.36598906],
       [132.95890535],
       [184.5410226 ],
       [173.83298051],
       [190.35863287],
       [124.41740796],
       [119.65426903],
       [147.95402494],
       [ 59.05311211],
       [ 71.62636914],
       [107.68722902],
       [165.45544477],
       [155.00784964],
       [171.04558668],
       [ 61.45763075],
       [ 71.66975626],
       [114.96330486],
       [ 51.57808027],
       [167.57781958],
       [152.52505798],
       [ 62.95827693],
       [103.49862017],
       [109.20495627],
       [175.63844013],
       [154.60247734],
       [ 94.41476124],
       [210.74244148],
       [120.25601864],
       [ 77.61590087],
       [187.93503183],
       [206.49543321],
       [140.63018684],
       [105.59463059],
       [130.704246  ],
       [202.18650868],
       [171.1330116 ],
       [164.91246096],
       [124.72637597],
       [144.81210187],
       [181.99631481],
       [199.41234515],
       [234.21402489],
       [145.96053305],
       [ 79.86349114],
       [157.36828831],
       [192.74737754],
       [208.8980067 ],
       [158.58505486],
       [206.0226849 ],
       [107.47978402],
       [140.93428553],
       [ 54.81856678],
       [ 55.92807758],
       [115.00974554],
       [ 78.95886675],
       [ 81.55731377],
       [ 54.3774778 ],
       [166.25477778]])

In [369]:
print(type(y_pred))

<class 'numpy.ndarray'>

#### Print your `diabetes_target_test` and compare with the prediction.

In [370]:
print(diabetes_target_test)

         0
287  219.0
211   70.0
72   202.0
321  230.0
73   111.0
..     ...
255  153.0
90    98.0
57    37.0
391   63.0
24   184.0

[89 rows x 1 columns]

In [371]:
print(type(diabetes_target_test))
diabetes_target_test["new"]=y_pred
diabetes_target_test.shape

<class 'pandas.core.frame.DataFrame'>

(89, 2)

In [372]:
diabetes_target_test

         0         new
287  219.0  139.548313
211   70.0  179.520306
72   202.0  134.041333
321  230.0  291.411936
73   111.0  123.787237
..     ...         ...
255  153.0  115.009746
90    98.0   78.958867
57    37.0   81.557314
391   63.0   54.377478
24   184.0  166.254778

[89 rows x 2 columns]

In [373]:

diabetes_target_test['Diabetes Target Test'] = diabetes_target_test['new']

In [374]:
diabetes_target_test.rename(columns = {0:'y pred'},inplace=True)

In [375]:
diabetes_target_test

     y pred         new  Diabetes Target Test
287   219.0  139.548313            139.548313
211    70.0  179.520306            179.520306
72    202.0  134.041333            134.041333
321   230.0  291.411936            291.411936
73    111.0  123.787237            123.787237
..      ...         ...                   ...
255   153.0  115.009746            115.009746
90     98.0   78.958867             78.958867
57     37.0   81.557314             81.557314
391    63.0   54.377478             54.377478
24    184.0  166.254778            166.254778

[89 rows x 3 columns]

In [376]:
diabetes_target_test.drop('new', axis=1, inplace=True)

In [377]:
diabetes_target_test

     y pred  Diabetes Target Test
287   219.0            139.548313
211    70.0            179.520306
72    202.0            134.041333
321   230.0            291.411936
73    111.0            123.787237
..      ...                   ...
255   153.0            115.009746
90     98.0             78.958867
57     37.0             81.557314
391    63.0             54.377478
24    184.0            166.254778

[89 rows x 2 columns]

In [378]:
diabetes_target_test['Difference'] = diabetes_target_test['y pred'] - diabetes_target_test['Diabetes Target Test']

In [379]:
diabetes_target_test

     y pred  Diabetes Target Test  Difference
287   219.0            139.548313   79.451687
211    70.0            179.520306 -109.520306
72    202.0            134.041333   67.958667
321   230.0            291.411936  -61.411936
73    111.0            123.787237  -12.787237
..      ...                   ...         ...
255   153.0            115.009746   37.990254
90     98.0             78.958867   19.041133
57     37.0             81.557314  -44.557314
391    63.0             54.377478    8.622522
24    184.0            166.254778   17.745222

[89 rows x 3 columns]

In [380]:
diabetes_target_test.shape

(89, 3)

#### Is `diabetes_target_test` exactly the same as the model prediction? Explain.

In [381]:
# Your explanation here:

#The prediction seems to be of questionable quality

# Bonus Challenge 1 - Hypothesis Testing with `statsmodels`

After generating the linear regression model from the dataset, you probably wonder: then what? What is the statistical way to know if my model is reliable or not?

Good question. We'll discuss that using Scikit-Learn in Challenge 5. But for now, let's use a fool-proof way by using the ([Linear Regression class of StatsModels](https://www.statsmodels.org/dev/regression.html)) which can also conduct linear regression analysis plus much more such as calcuating the F-score of the linear model as well as the standard errors and t-scores for each coefficient. The F-score and t-scores will tell you whether you can trust your linear model.

To understand the statistical meaning of conducting hypothesis testing (e.g. F-test, t-test) for slopes, read [this webpage](https://onlinecourses.science.psu.edu/stat501/node/297/) at your leisure time. We'll give you a brief overview next.

* The F-test of your linear model is to verify whether at least one of your coefficients is significantly different from zero. Translating that into the *null hypothesis* and *alternative hypothesis*, that is:

    ```
    H0 : β1 = β2 = ... = β10 = 0
    HA : At least one βj ≠ 0 (for j = 1, 2, ..., 10)
    ```

* The t-tests on each coefficient is to check whether the confidence interval for the variable contains zero. If the confidence interval contains zero, it means the null hypothesis for that variable is not rejected. In other words, this particular vaiable is not contributing to your linear model and you can remove it from your formula.

Read the documentations of [StatsModels Linear Regression](https://www.statsmodels.org/dev/regression.html) as well as its [`OLS` class](https://www.statsmodels.org/dev/generated/statsmodels.regression.linear_model.OLS.html) which stands for *ordinary least squares*.

#### In the next cell, analyze `diabetes_data_train` and `diabetes_target_train` with the linear regression model of `statsmodels`. Print the fit summary.

Your output should look like:

![statsmodels regression](../images/statsmodels.png)

In [382]:
# Your code here:

import statsmodels.api as sm

X = sm.add_constant(diabetes_data_train)
Y= diabetes_target_train

X = sm.add_constant(X)
model = sm.OLS(Y,X)
results = model.fit()
predictions = results.predict(X)
predictions

17     184.702807
66     151.945373
137    239.233972
245    105.021393
31      65.033061
          ...
106     69.014495
270    193.983419
348    132.928398
435    119.186552
102    141.372558
Length: 353, dtype: float64

In [383]:
model = sm.OLS(Y,X).fit()
predictions = model.predict(X)

print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                      0   R-squared:                       0.528
Model:                            OLS   Adj. R-squared:                  0.514
Method:                 Least Squares   F-statistic:                     38.25
Date:                Thu, 07 Apr 2022   Prob (F-statistic):           5.41e-50
Time:                        17:56:45   Log-Likelihood:                -1906.1
No. Observations:                 353   AIC:                             3834.
Df Residuals:                     342   BIC:                             3877.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        151.3457      2.902     52.155      0.000     145.638     157.053
0             37.9003     69.056      0.549      0.583     -97.927     173.728
1           -241.9662     68.570     -3.529      0.000    -376.837    -107.095
2            542.4258     76.956      7.049      0.000     391.059     693.792
3            347.7083     71.357      4.873      0.000     207.355     488.062
4           -931.4613    451.142     -2.065      0.040   -1818.823     -44.099
5            518.0441    364.118      1.423      0.156    -198.150    1234.238
6            163.4035    233.015      0.701      0.484    -294.919     621.726
7            275.3100    185.399      1.485      0.138     -89.357     639.977
8            736.1891    192.440      3.826      0.000     357.675    1114.704
9             48.6711     73.435      0.663      0.508     -95.771     193.113
==============================================================================
Omnibus:                        1.457   Durbin-Watson:                   1.794
Prob(Omnibus):                  0.483   Jarque-Bera (JB):                1.412
Skew:                           0.064   Prob(JB):                        0.494
Kurtosis:                       2.718   Cond. No.                         219.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

#### Interpreting hypothesis testing results

Answer the following questions in the cell below:

1. What is the F-score of your linear model and is the null hypothesis rejected?

1. Does any of the t-tests of the coefficients produce a confidence interval containing zero? What are they?

1. How will you modify your linear reguression model according to the test results above?

In [384]:
# Your answers here:

#1. Proba (F-stat) is extremely close to zero which implies we can reject the null hypothesis

#2 / 3 Based on our OLS report, the following variables are not significant (above >0.05) and should be dropped: variable 0, 5, 6, 7, 9

# Challenge 3 - Peform Supervised Learning on a Pandas Dataframe

Now that we have dealt with data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [385]:
# Your code here:

auto = pd.read_csv(r'C:/Users/olivi/Documents/Ironhack/DAFT_212/module_3/Lab_7_Supervised-Sklearn/data/auto-mpg.csv')
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Look at the first 5 rows using the `head()` function:

In [386]:
# Your code here:

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [387]:
# Your code here:
auto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horse_power   392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   car_name      398 non-null    object
dtypes: float64(4), int64(3), object(1)
memory usage: 25.0+ KB

In [388]:
auto.isna().sum()

mpg             0
cylinders       0
displacement    0
horse_power     6
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

In [389]:
auto.car_name.unique()

array(['\t"chevrolet chevelle malibu"', '\t"buick skylark 320"',
       '\t"plymouth satellite"', '\t"amc rebel sst"', '\t"ford torino"',
       '\t"ford galaxie 500"', '\t"chevrolet impala"',
       '\t"plymouth fury iii"', '\t"pontiac catalina"',
       '\t"amc ambassador dpl"', '\t"dodge challenger se"',
       '\t"plymouth \'cuda 340"', '\t"chevrolet monte carlo"',
       '\t"buick estate wagon (sw)"', '\t"toyota corona mark ii"',
       '\t"plymouth duster"', '\t"amc hornet"', '\t"ford maverick"',
       '\t"datsun pl510"', '\t"volkswagen 1131 deluxe sedan"',
       '\t"peugeot 504"', '\t"audi 100 ls"', '\t"saab 99e"',
       '\t"bmw 2002"', '\t"amc gremlin"', '\t"ford f250"',
       '\t"chevy c20"', '\t"dodge d200"', '\t"hi 1200d"',
       '\t"chevrolet vega 2300"', '\t"toyota corona"', '\t"ford pinto"',
       '\t"plymouth satellite custom"', '\t"ford torino 500"',
       '\t"amc matador"', '\t"pontiac catalina brougham"',
       '\t"dodge monaco (sw)"', '\t"ford country squire (sw)"',
       '\t"pontiac safari (sw)"', '\t"amc hornet sportabout (sw)"',
       '\t"chevrolet vega (sw)"', '\t"pontiac firebird"',
       '\t"ford mustang"', '\t"mercury capri 2000"', '\t"opel 1900"',
       '\t"peugeot 304"', '\t"fiat 124b"', '\t"toyota corolla 1200"',
       '\t"datsun 1200"', '\t"volkswagen model 111"',
       '\t"plymouth cricket"', '\t"toyota corona hardtop"',
       '\t"dodge colt hardtop"', '\t"volkswagen type 3"',
       '\t"chevrolet vega"', '\t"ford pinto runabout"',
       '\t"amc ambassador sst"', '\t"mercury marquis"',
       '\t"buick lesabre custom"', '\t"oldsmobile delta 88 royale"',
       '\t"chrysler newport royal"', '\t"mazda rx2 coupe"',
       '\t"amc matador (sw)"', '\t"chevrolet chevelle concours (sw)"',
       '\t"ford gran torino (sw)"', '\t"plymouth satellite custom (sw)"',
       '\t"volvo 145e (sw)"', '\t"volkswagen 411 (sw)"',
       '\t"peugeot 504 (sw)"', '\t"renault 12 (sw)"',
       '\t"ford pinto (sw)"', '\t"datsun 510 (sw)"',
       '\t"toyouta corona mark ii (sw)"', '\t"dodge colt (sw)"',
       '\t"toyota corolla 1600 (sw)"', '\t"buick century 350"',
       '\t"chevrolet malibu"', '\t"ford gran torino"',
       '\t"dodge coronet custom"', '\t"mercury marquis brougham"',
       '\t"chevrolet caprice classic"', '\t"ford ltd"',
       '\t"plymouth fury gran sedan"', '\t"chrysler new yorker brougham"',
       '\t"buick electra 225 custom"', '\t"amc ambassador brougham"',
       '\t"plymouth valiant"', '\t"chevrolet nova custom"',
       '\t"volkswagen super beetle"', '\t"ford country"',
       '\t"plymouth custom suburb"', '\t"oldsmobile vista cruiser"',
       '\t"toyota carina"', '\t"datsun 610"', '\t"maxda rx3"',
       '\t"mercury capri v6"', '\t"fiat 124 sport coupe"',
       '\t"chevrolet monte carlo s"', '\t"pontiac grand prix"',
       '\t"fiat 128"', '\t"opel manta"', '\t"audi 100ls"',
       '\t"volvo 144ea"', '\t"dodge dart custom"', '\t"saab 99le"',
       '\t"toyota mark ii"', '\t"oldsmobile omega"', '\t"chevrolet nova"',
       '\t"datsun b210"', '\t"chevrolet chevelle malibu classic"',
       '\t"plymouth satellite sebring"', '\t"buick century luxus (sw)"',
       '\t"dodge coronet custom (sw)"', '\t"audi fox"',
       '\t"volkswagen dasher"', '\t"datsun 710"', '\t"dodge colt"',
       '\t"fiat 124 tc"', '\t"honda civic"', '\t"subaru"',
       '\t"fiat x1.9"', '\t"plymouth valiant custom"',
       '\t"mercury monarch"', '\t"chevrolet bel air"',
       '\t"plymouth grand fury"', '\t"buick century"',
       '\t"chevroelt chevelle malibu"', '\t"plymouth fury"',
       '\t"buick skyhawk"', '\t"chevrolet monza 2+2"',
       '\t"ford mustang ii"', '\t"toyota corolla"', '\t"pontiac astro"',
       '\t"volkswagen rabbit"', '\t"amc pacer"', '\t"volvo 244dl"',
       '\t"honda civic cvcc"', '\t"fiat 131"', '\t"capri ii"',
       '\t"renault 12tl"', '\t"dodge coronet brougham"',
       '\t"chevrolet chevette"', '\t"chevrolet woody"', '\t"vw rabbit"',
       '\t"dodge aspen se"', '\t"ford granada ghia"',
       '\t"pontiac ventura sj"', '\t"amc pacer d/l"', '\t"datsun b-210"',
       '\t"volvo 245"', '\t"plymouth volare premier v8"',
       '\t"mercedes-benz 280s"', '\t"cadillac seville"', '\t"chevy c10"',
       '\t"ford f108"', '\t"dodge d100"', '\t"honda accord cvcc"',
       '\t"buick opel isuzu deluxe"', '\t"renault 5 gtl"',
       '\t"plymouth arrow gs"', '\t"datsun f-10 hatchback"',
       '\t"oldsmobile cutlass supreme"', '\t"dodge monaco brougham"',
       '\t"mercury cougar brougham"', '\t"chevrolet concours"',
       '\t"buick skylark"', '\t"plymouth volare custom"',
       '\t"ford granada"', '\t"pontiac grand prix lj"',
       '\t"chevrolet monte carlo landau"', '\t"chrysler cordoba"',
       '\t"ford thunderbird"', '\t"volkswagen rabbit custom"',
       '\t"pontiac sunbird coupe"', '\t"toyota corolla liftback"',
       '\t"ford mustang ii 2+2"', '\t"dodge colt m/m"', '\t"subaru dl"',
       '\t"datsun 810"', '\t"bmw 320i"', '\t"mazda rx-4"',
       '\t"volkswagen rabbit custom diesel"', '\t"ford fiesta"',
       '\t"mazda glc deluxe"', '\t"datsun b210 gx"',
       '\t"oldsmobile cutlass salon brougham"', '\t"dodge diplomat"',
       '\t"mercury monarch ghia"', '\t"pontiac phoenix lj"',
       '\t"ford fairmont (auto)"', '\t"ford fairmont (man)"',
       '\t"plymouth volare"', '\t"amc concord"',
       '\t"buick century special"', '\t"mercury zephyr"',
       '\t"dodge aspen"', '\t"amc concord d/l"',
       '\t"buick regal sport coupe (turbo)"', '\t"ford futura"',
       '\t"dodge magnum xe"', '\t"datsun 510"', '\t"dodge omni"',
       '\t"toyota celica gt liftback"', '\t"plymouth sapporo"',
       '\t"oldsmobile starfire sx"', '\t"datsun 200-sx"', '\t"audi 5000"',
       '\t"volvo 264gl"', '\t"saab 99gle"', '\t"peugeot 604sl"',
       '\t"volkswagen scirocco"', '\t"honda accord lx"',
       '\t"pontiac lemans v6"', '\t"mercury zephyr 6"',
       '\t"ford fairmont 4"', '\t"amc concord dl 6"', '\t"dodge aspen 6"',
       '\t"ford ltd landau"', '\t"mercury grand marquis"',
       '\t"dodge st. regis"', '\t"chevrolet malibu classic (sw)"',
       '\t"chrysler lebaron town @ country (sw)"', '\t"vw rabbit custom"',
       '\t"maxda glc deluxe"', '\t"dodge colt hatchback custom"',
       '\t"amc spirit dl"', '\t"mercedes benz 300d"',
       '\t"cadillac eldorado"', '\t"plymouth horizon"',
       '\t"plymouth horizon tc3"', '\t"datsun 210"',
       '\t"fiat strada custom"', '\t"buick skylark limited"',
       '\t"chevrolet citation"', '\t"oldsmobile omega brougham"',
       '\t"pontiac phoenix"', '\t"toyota corolla tercel"',
       '\t"datsun 310"', '\t"ford fairmont"', '\t"audi 4000"',
       '\t"toyota corona liftback"', '\t"mazda 626"',
       '\t"datsun 510 hatchback"', '\t"mazda glc"',
       '\t"vw rabbit c (diesel)"', '\t"vw dasher (diesel)"',
       '\t"audi 5000s (diesel)"', '\t"mercedes-benz 240d"',
       '\t"honda civic 1500 gl"', '\t"renault lecar deluxe"',
       '\t"vokswagen rabbit"', '\t"datsun 280-zx"', '\t"mazda rx-7 gs"',
       '\t"triumph tr7 coupe"', '\t"ford mustang cobra"',
       '\t"honda accord"', '\t"plymouth reliant"',
       '\t"dodge aries wagon (sw)"', '\t"toyota starlet"',
       '\t"plymouth champ"', '\t"honda civic 1300"', '\t"datsun 210 mpg"',
       '\t"toyota tercel"', '\t"mazda glc 4"', '\t"plymouth horizon 4"',
       '\t"ford escort 4w"', '\t"ford escort 2h"', '\t"volkswagen jetta"',
       '\t"renault 18i"', '\t"honda prelude"', '\t"datsun 200sx"',
       '\t"peugeot 505s turbo diesel"', '\t"volvo diesel"',
       '\t"toyota cressida"', '\t"datsun 810 maxima"',
       '\t"oldsmobile cutlass ls"', '\t"ford granada gl"',
       '\t"chrysler lebaron salon"', '\t"chevrolet cavalier"',
       '\t"chevrolet cavalier wagon"', '\t"chevrolet cavalier 2-door"',
       '\t"pontiac j2000 se hatchback"', '\t"dodge aries se"',
       '\t"ford fairmont futura"', '\t"amc concord dl"',
       '\t"volkswagen rabbit l"', '\t"mazda glc custom l"',
       '\t"mazda glc custom"', '\t"plymouth horizon miser"',
       '\t"mercury lynx l"', '\t"nissan stanza xe"',
       '\t"honda civic (auto)"', '\t"datsun 310 gx"',
       '\t"buick century limited"',
       '\t"oldsmobile cutlass ciera (diesel)"',
       '\t"chrysler lebaron medallion"', '\t"ford granada l"',
       '\t"toyota celica gt"', '\t"dodge charger 2.2"',
       '\t"chevrolet camaro"', '\t"ford mustang gl"', '\t"vw pickup"',
       '\t"dodge rampage"', '\t"ford ranger"', '\t"chevy s-10"'],
      dtype=object)

What is the newest model year and the oldest model year?

In [390]:
# Your code here:
auto['model_year'].min()

70

In [391]:
auto['model_year'].max()

82

Check the dataset for missing values and remove all rows containing at least one missing value.

In [392]:
# Your code here:

auto.isna().sum()

mpg             0
cylinders       0
displacement    0
horse_power     6
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

In [393]:
auto[auto["horse_power"].isna()]

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
32,25.0,4,98.0,NaN,2046,19.0,71,"\t""ford pinto"""
126,21.0,6,200.0,NaN,2875,17.0,74,"\t""ford maverick"""
330,40.9,4,85.0,NaN,1835,17.3,80,"\t""renault lecar deluxe"""
336,23.6,4,140.0,NaN,2905,14.3,80,"\t""ford mustang cobra"""
354,34.5,4,100.0,NaN,2320,15.8,81,"\t""renault 18i"""
374,23.0,4,151.0,NaN,3035,20.5,82,"\t""amc concord dl"""

In [394]:
auto.drop(labels=[32,126,330,336,354,374], axis=0, inplace=True)

In [395]:
auto["horse_power"].isna().sum()

0

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [396]:
# Your code here:


auto['cylinders'].value_counts()


# 5 values of 'cylinders' are in the auto dataset

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

*Hint: To separate data for training and test, use the `train_test_split` method we used in previous labs.*

In [397]:
# Your code here:

auto.drop('car_name', axis=1, inplace=True)

In [398]:
auto.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horse_power   392 non-null    float64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   model_year    392 non-null    int64
dtypes: float64(4), int64(3)
memory usage: 24.5 KB

Now we will processed and peform linear regression on this data to predict the mpg for each vehicle. 

#### In the next cell, create an instance of the linear regression model and call it `auto_model`. Fit `auto_model` with your training data.

In [399]:
# Your code here:

from sklearn.model_selection import train_test_split

from sklearn import linear_model

import statsmodels.api as sm

X = auto.drop('mpg', axis = 1)
y = auto.mpg

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [400]:
X.shape

(392, 6)

In [401]:
y.shape

(392,)

In [402]:
auto_model = linear_model.LinearRegression()
auto_model.fit(X_train, y_train)

LinearRegression()

# Challenge 4 - Evaluate the Model

In addition to evaluating your model with F-test and t-test, you can also use the *Coefficient of Determination* (a.k.a. *r squared score*). This method does not simply tell *yes* or *no* about the model fit but instead indicates how much variation can be explained by the model. Based on the r squared score, you can decide whether to improve your model in order to obtain a better fit.

You can learn about the r squared score [here](). Its formula is:

![R Squared](../images/r-squared.png)

...where:

* yi is an actual data point.
* ŷi is the corresponding data point on the estimated regression line.

By adding the squares of the difference between all yi-ŷi pairs, we have a measure called SSE (*error sum of squares*) which is an application of the r squared score to indicate the extent to which the estimated regression model is different from the actual data. And we attribute that difference to the random error that is unavoidable in the real world. Obviously, we want the SSE value to be as small as possible.

#### In the next cell, compute the predicted *y* based on `X_train` and call it `y_pred`. Then calcualte the r squared score between `y_pred` and `y_train` which indicates how well the estimated regression model fits the training data.

*Hint: r squared score can be calculated using `sklearn.metrics.r2_score` ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html)).*

In [403]:
from sklearn.metrics import r2_score


y_pred = auto_model.predict(X_train)
r2_score(y_true = y_train, y_pred = y_pred).round(4)

0.8107

#### Our next step is to evaluate the model using the test data. 

We would like to ensure that our model is not overfitting the data. This means that our model was made to fit too closely to the training data by being overly complex. If a model is overfitted, it is not generalizable to data outside the training data. In that case, we need to reduce the complexity of the model by removing certain features (variables).

In the cell below, use the model to generate the predicted values for the test data and assign them to `y_test_pred`. Compute the r squared score of the predicted `y_test_pred` and the oberserved `y_test` data.

In [404]:
# Your code here:
y_test_pred = auto_model.predict(X_test)
r2_score(y_true = y_test, y_pred = y_test_pred).round(4)

0.7942

#### Explaining the results

The r squared scores of the training data and the test data are pretty close (0.8146 vs 0.7818). This means our model is not overfitted. However, there is still room to improve the model fit. Move on to the next challenge.

# Challenge 5 - Improve the Model Fit

While the most common way to improve the fit of a model is by using [regularization](https://datanice.github.io/machine-learning-101-what-is-regularization-interactive.html), there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [406]:
# Your code here:

X_train09, X_test09, y_train09, y_test09 = train_test_split(X, y, test_size=0.1, random_state=42)

Initialize a new linear regression model. Name this model `auto_model09`. Fit the model to the new sample (training) data.

In [407]:
# Your code here:
auto_model09 = linear_model.LinearRegression()
auto_model09.fit(X_train09, y_train09)

LinearRegression()

Compute the predicted values and r squared score for our new model and new sample data.

In [409]:
y_pred = auto_model09.predict(X_train09)
r2_score(y_true = y_train09, y_pred=y_pred).round(4)

0.8048

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [410]:
# Your code here:
y_test_pred = auto_model09.predict(X_test09)
r2_score(y_true = y_test09, y_pred=y_test_pred).round(4)

0.8469

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [271]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [415]:
# Your code here:

auto_model = linear_model.LinearRegression()
auto_model.fit(X_train, y_train)
selector_rfe = RFE(estimator = auto_model, n_features_to_select = 3, step = 1)

Fit the model and print the ranking

In [416]:
# Your code here:

from sklearn.pipeline import Pipeline
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.feature_selection import RFE
import numpy as np
from sklearn.ensemble import GradientBoostingClassifier


selector_rfe.fit(X_train, y_train)
selector_rfe.ranking_

array([1, 4, 3, 2, 1, 1])

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [418]:
# Your code here:

selector_rfe.get_support()

features_idx = selector_rfe.get_support()
features = X.columns[features_idx]
features

Index(['cylinders', 'acceleration', 'model_year'], dtype='object')

In [419]:
X[features]

     cylinders  acceleration  model_year
0            8          12.0          70
1            8          11.5          70
2            8          11.0          70
3            8          12.0          70
4            8          10.5          70
..         ...           ...         ...
393          4          15.6          82
394          4          24.6          82
395          4          11.6          82
396          4          18.6          82
397          4          19.4          82

[392 rows x 3 columns]

In [420]:
X_train_reduced, X_test_reduced, y_train_reduced, y_test_reduced = train_test_split(X[features], y, test_size=0.2, random_state=42)

In [421]:
# Your code here: 
auto_model_reduced = linear_model.LinearRegression()
auto_model_reduced.fit(X_train_reduced, y_train_reduced)

LinearRegression()

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [422]:
# Your code here: 

y_pred = auto_model_reduced.predict(X_train_reduced)
r2_score(y_true = y_train_reduced, y_pred=y_pred).round(4)

0.7145

#### Conclusion

You may obtain the impression from this lab that without knowing statistical methods in depth, it is difficult to make major progress in machine learning. That is correct. If you are motivated to become a data scientist, statistics is the subject you must be proficient in and there is no shortcut. 

Completing these labs is not likely to make you a data scientist. But you will have a good sense about what are there in machine learning and what are good for you. In your future career, you can choose one of the three tracks:

* Data scientists who need to be proficient in statistical methods.

* Data engineers who need to be good at programming.

* Data integration specialists who are business or content experts but also understand data and programming. This cross-disciplinary track brings together data, technology, and business and will be in high demands in the next decade.