# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [131]:
# Libraries

import numpy as np
import pandas as pd

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [132]:
# your code here

df = pd.read_csv('C:/Users/olivi/Documents/Ironhack/DAFT_212/Module_1/Lab_30_Python-Plus/Admission_Predict.csv')
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

Remove trailing spaces at the end of the column names if there are any.

In [133]:
# your code here

df.columns = df.columns.str.rstrip()
df.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

Let's evaluate the dataset by looking at the `head` function.

In [134]:
# your code here
df.head

<bound method NDFrame.head of      Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  \
0             1        337          118                  4  4.5  4.5  9.65
1             2        316          104                  3  3.0  3.5  8.00
2             3        322          110                  3  3.5  2.5  8.67
3             4        314          103                  2  2.0  3.0  8.21
4             5        330          115                  5  4.5  3.0  9.34
..          ...        ...          ...                ...  ...  ...   ...
380         381        324          110                  3  3.5  3.5  9.04
381         382        325          107                  3  3.0  3.5  9.11
382         383        330          116                  4  5.0  4.5  9.45
383         384        312          103                  3  3.5  4.0  8.78
384         385        333          117                  4  5.0  4.0  9.66

     Research  Chance of Admit
0           1             0.92
1           1             0.72
2           1             0.80
3           0             0.65
4           1             0.90
..        ...              ...
380         1             0.82
381         1             0.84
382         1             0.91
383         0             0.67
384         1             0.95

[385 rows x 9 columns]>

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [135]:
# your code here
df.describe

<bound method NDFrame.describe of      Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR  CGPA  \
0             1        337          118                  4  4.5  4.5  9.65
1             2        316          104                  3  3.0  3.5  8.00
2             3        322          110                  3  3.5  2.5  8.67
3             4        314          103                  2  2.0  3.0  8.21
4             5        330          115                  5  4.5  3.0  9.34
..          ...        ...          ...                ...  ...  ...   ...
380         381        324          110                  3  3.5  3.5  9.04
381         382        325          107                  3  3.0  3.5  9.11
382         383        330          116                  4  5.0  4.5  9.45
383         384        312          103                  3  3.5  4.0  8.78
384         385        333          117                  4  5.0  4.0  9.66

     Research  Chance of Admit
0           1             0.92
1           1             0.72
2           1             0.80
3           0             0.65
4           1             0.90
..        ...              ...
380         1             0.82
381         1             0.84
382         1             0.91
383         0             0.67
384         1             0.95

[385 rows x 9 columns]>

In [136]:
df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [137]:
df.isna().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of      Serial No.  GRE Score  TOEFL Score  University Rating    SOP    LOR  \
0         False      False        False              False  False  False
1         False      False        False              False  False  False
2         False      False        False              False  False  False
3         False      False        False              False  False  False
4         False      False        False              False  False  False
..          ...        ...          ...                ...    ...    ...
380       False      False        False              False  False  False
381       False      False        False              False  False  False
382       False      False        False              False  False  False
383       False      False        False              False  False  False
384       False      False        False              False  False  False

      CGPA  Research  Chance of Admit
0    False     False            False
1    False     False            False
2    False     False            False
3    False     False            False
4    False     False            False
..     ...       ...              ...
380  False     False            False
381  False     False            False
382  False     False            False
383  False     False            False
384  False     False            False

[385 rows x 9 columns]>

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [138]:
# your code here
df.set_index('Serial No.', inplace=True)
df

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...
381,324,110,3,3.5,3.5,9.04,1,0.82
382,325,107,3,3.0,3.5,9.11,1,0.84
383,330,116,4,5.0,4.5,9.45,1,0.91
384,312,103,3,3.5,4.0,8.78,0,0.67
385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [139]:
# your code here

length = len(df['GRE Score'].value_counts())
length

length == len(df.index)

False

In [140]:
length2 = len(df['CGPA'].value_counts())
length2

length2 == len(df.index)

False

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [141]:
# your code here
df.set_index('GRE Score' and 'CGPA', inplace=True)
df

,GRE Score,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
CGPA,,,,,,,
9.65,337,118,4,4.5,4.5,1,0.92
8.00,316,104,3,3.0,3.5,1,0.72
8.67,322,110,3,3.5,2.5,1,0.80
8.21,314,103,2,2.0,3.0,0,0.65
9.34,330,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...
9.04,324,110,3,3.5,3.5,1,0.82
9.11,325,107,3,3.0,3.5,1,0.84
9.45,330,116,4,5.0,4.5,1,0.91
8.78,312,103,3,3.5,4.0,0,0.67
9.66,333,117,4,5.0,4.0,1,0.95

In [142]:
df.reset_index(inplace=True)
df

,CGPA,GRE Score,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,9.65,337,118,4,4.5,4.5,1,0.92
1,8.00,316,104,3,3.0,3.5,1,0.72
2,8.67,322,110,3,3.5,2.5,1,0.80
3,8.21,314,103,2,2.0,3.0,0,0.65
4,9.34,330,115,5,4.5,3.0,1,0.90
...,...,...,...,...,...,...,...,...
380,9.04,324,110,3,3.5,3.5,1,0.82
381,9.11,325,107,3,3.0,3.5,1,0.84
382,9.45,330,116,4,5.0,4.5,1,0.91
383,8.78,312,103,3,3.5,4.0,0,0.67
384,9.66,333,117,4,5.0,4.0,1,0.95

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [143]:
# your code here

selection = df[(df['CGPA']>9) & (df['Research']==1)]
selection

,CGPA,GRE Score,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,9.65,337,118,4,4.5,4.5,1,0.92
4,9.34,330,115,5,4.5,3.0,1,0.90
10,9.10,328,112,4,4.0,4.5,1,0.78
19,9.50,328,116,5,5.0,5.0,1,0.94
20,9.70,334,119,5,5.0,4.5,1,0.95
...,...,...,...,...,...,...,...,...
379,9.23,329,111,4,4.5,4.0,1,0.89
380,9.04,324,110,3,3.5,3.5,1,0.82
381,9.11,325,107,3,3.0,3.5,1,0.84
382,9.45,330,116,4,5.0,4.5,1,0.91
384,9.66,333,117,4,5.0,4.0,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [144]:
# your code here
selection2 = df[(df['CGPA']>9) & (df['SOP']<3.5)]
selection2

,CGPA,GRE Score,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
28,9.40,338,118,4,3.0,4.5,1,0.91
62,9.02,327,114,3,3.0,3.0,0,0.61
140,9.11,326,114,3,3.0,3.0,1,0.83
217,9.01,324,111,4,3.0,3.0,1,0.82
381,9.11,325,107,3,3.0,3.5,1,0.84

In [145]:
admitchance = np.mean(selection2['Chance of Admit'])
print(admitchance)

0.8019999999999999

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [146]:

    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here

def standardize(col): 
        result = (col-np.mean(col)) / np.std(col)
        return result

standardize(df['CGPA'])

0      1.750174
1     -0.992501
2      0.121191
3     -0.643433
4      1.234884
         ...
380    0.736216
381    0.852571
382    1.417729
383    0.304036
384    1.766796
Name: CGPA, Length: 385, dtype: float64

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [147]:
# your code here

df['CGPA_std'] = standardize(df['CGPA'])
df['GRE_std'] = standardize(df['GRE Score'])
df['LOR_std'] = standardize(df['LOR'])

admissions = df
admissions

,CGPA,GRE Score,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std
0,9.65,337,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197
1,8.00,316,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840
2,8.67,322,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517
3,8.21,314,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338
4,9.34,330,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338
...,...,...,...,...,...,...,...,...,...,...,...
380,9.04,324,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840
381,9.11,325,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840
382,9.45,330,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197
383,8.78,312,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019
384,9.66,333,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019

We will generate the decision choice at random using the code below. Please run the cell.

In [148]:
# Libraries
from random import choices

In [149]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

decision_choice

['GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'CGPA_std',
 'GRE_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'CGPA_std',
 'GRE_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'CGPA_std',
 'CGPA_std',
 'CGPA_std',
 'LOR_std',
 'GRE_std',
 'GRE_std',
 'LOR_std',
 'LOR_std']

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [150]:
# your code here

admissions['Decision_Choice'] = decision_choice

admissions['Deciding Column'] = admissions.lookup(admissions.index, admissions['Decision_Choice'])

admissions

C:\Users\olivi\AppData\Local\Temp\ipykernel_18732\3182951314.py:5: FutureWarning: The 'lookup' method is deprecated and will be removed in a future version. You can use DataFrame.melt and DataFrame.loc as a substitute.
  admissions['Deciding Column'] = admissions.lookup(admissions.index, admissions['Decision_Choice'])

,CGPA,GRE Score,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,Decision_Choice,Deciding Column
0,9.65,337,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,GRE_std,1.755663
1,8.00,316,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,LOR_std,0.076840
2,8.67,322,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,CGPA_std,0.121191
3,8.21,314,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,CGPA_std,-0.643433
4,9.34,330,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,GRE_std,1.149292
...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,9.04,324,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840,LOR_std,0.076840
381,9.11,325,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840,GRE_std,0.716170
382,9.45,330,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197,GRE_std,1.149292
383,8.78,312,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019,LOR_std,0.635019
384,9.66,333,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019,LOR_std,0.635019

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [151]:
# your code here
admissions['decision'] = np.where(admissions['Deciding Column']>0.8, 1, 0)
admissions

,CGPA,GRE Score,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA_std,GRE_std,LOR_std,Decision_Choice,Deciding Column,decision
0,9.65,337,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,GRE_std,1.755663,1
1,8.00,316,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,LOR_std,0.076840,0
2,8.67,322,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,CGPA_std,0.121191,0
3,8.21,314,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,CGPA_std,-0.643433,0
4,9.34,330,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,GRE_std,1.149292,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,9.04,324,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840,LOR_std,0.076840,0
381,9.11,325,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840,GRE_std,0.716170,0
382,9.45,330,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197,GRE_std,1.149292,1
383,8.78,312,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019,LOR_std,0.635019,0
384,9.66,333,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019,LOR_std,0.635019,0

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [152]:
# your code here
admissions['decision'].value_counts()

0    304
1     81
Name: decision, dtype: int64

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [153]:
# your code here
import re
columns = list(admissions.columns)

new_columns = [i.replace('[^a-zA-Z]','').replace(' ','').lower() for i in columns]
new_columns

admissions.columns = new_columns
admissions

,cgpa,grescore,toeflscore,universityrating,sop,lor,research,chanceofadmit,cgpa_std,gre_std,lor_std,decision_choice,decidingcolumn,decision
0,9.65,337,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,GRE_std,1.755663,1
1,8.00,316,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,LOR_std,0.076840,0
2,8.67,322,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,CGPA_std,0.121191,0
3,8.21,314,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,CGPA_std,-0.643433,0
4,9.34,330,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,GRE_std,1.149292,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,9.04,324,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840,LOR_std,0.076840,0
381,9.11,325,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840,GRE_std,0.716170,0
382,9.45,330,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197,GRE_std,1.149292,1
383,8.78,312,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019,LOR_std,0.635019,0
384,9.66,333,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019,LOR_std,0.635019,0

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [154]:
# your code here

admissions['grescore']= np.where(admissions['universityrating']>=4, admissions['grescore']+10, admissions['grescore'])
admissions

,cgpa,grescore,toeflscore,universityrating,sop,lor,research,chanceofadmit,cgpa_std,gre_std,lor_std,decision_choice,decidingcolumn,decision
0,9.65,347,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,GRE_std,1.755663,1
1,8.00,316,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,LOR_std,0.076840,0
2,8.67,322,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,CGPA_std,0.121191,0
3,8.21,314,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,CGPA_std,-0.643433,0
4,9.34,340,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,GRE_std,1.149292,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,9.04,324,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840,LOR_std,0.076840,0
381,9.11,325,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840,GRE_std,0.716170,0
382,9.45,340,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197,GRE_std,1.149292,1
383,8.78,312,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019,LOR_std,0.635019,0
384,9.66,343,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019,LOR_std,0.635019,0

In [155]:
admissions['adjusted_gre'] = pd.qcut(admissions['grescore'], q=4)
admissions

,cgpa,grescore,toeflscore,universityrating,sop,lor,research,chanceofadmit,cgpa_std,gre_std,lor_std,decision_choice,decidingcolumn,decision,adjusted_gre
0,9.65,347,118,4,4.5,4.5,1,0.92,1.750174,1.755663,1.193197,GRE_std,1.755663,1,"(332.0, 350.0]"
1,8.00,316,104,3,3.0,3.5,1,0.72,-0.992501,-0.063450,0.076840,LOR_std,0.076840,0,"(309.0, 318.0]"
2,8.67,322,110,3,3.5,2.5,1,0.80,0.121191,0.456297,-1.039517,CGPA_std,0.121191,0,"(318.0, 332.0]"
3,8.21,314,103,2,2.0,3.0,0,0.65,-0.643433,-0.236698,-0.481338,CGPA_std,-0.643433,0,"(309.0, 318.0]"
4,9.34,340,115,5,4.5,3.0,1,0.90,1.234884,1.149292,-0.481338,GRE_std,1.149292,1,"(332.0, 350.0]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,9.04,324,110,3,3.5,3.5,1,0.82,0.736216,0.629546,0.076840,LOR_std,0.076840,0,"(318.0, 332.0]"
381,9.11,325,107,3,3.0,3.5,1,0.84,0.852571,0.716170,0.076840,GRE_std,0.716170,0,"(318.0, 332.0]"
382,9.45,340,116,4,5.0,4.5,1,0.91,1.417729,1.149292,1.193197,GRE_std,1.149292,1,"(332.0, 350.0]"
383,8.78,312,103,3,3.5,4.0,0,0.67,0.304036,-0.409947,0.635019,LOR_std,0.635019,0,"(309.0, 318.0]"
384,9.66,343,117,4,5.0,4.0,1,0.95,1.766796,1.409165,0.635019,LOR_std,0.635019,0,"(332.0, 350.0]"